
/* Code to make the footer sticky */

.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

/* Set the navbar items to ritgh */
.navbarItems{
  float: right;
}

.show-grid{
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.show-grid2{
  width: 90%;
  margin: 0 auto;
}

.item{
  width: 5px;
}

/* Scrollbar for restaurantsearch */
.restaurantScroll{
  width: 30%;
  height: 80vh;
  overflow: scroll;
  margin-bottom: 40px;

}

/* Styling for the list of Restaurants showing up on the left side of the map on the front-page */
.restaurant-item{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  text-decoration: none;
}

/* Add to favorite button */
.button{
  width: 110px;
  background-color: #429ef4;
  border-color: #429ef4;
}
/* Navbar background color */
.navbar{
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
/* Hamburger button  */
.collapse{
  background-color: #f2f2f2 !important;
  border-color: #afafaf!important ;
}
/* Hamburger button  */
.toggle:hover{
  background-color: #afafaf !important;
}
/* Hamburger button  */
.toggle{
  background-color: #f2f2f2 !important;
  border-color: #afafaf !important;
  border-width: thin;
  color: red !important;

}
/* Footer background color */
.page-footer{
  background-color: #f2f2f2;
}
/* Styling for the rating stars */
.sprite{
  unicode-bidi: bidi-override;
  color: #404040;
  font-size: 15px;
  height: 25px;
  width: 75px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.top-star{
  color: #48b5e9;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating{
  margin-bottom: 20px;
}

.bottom-star{
  padding: 0;
  display: block;
  z-index: 0;
  color: #a2a2a2;
}

.inlinetest{
  display: inline;
}
